RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_rewrite.c>
    RewriteRule ^(app|config|storage|\.env) - [F,L]
</IfModule>
