<IfModule mod_rewrite.c>
  RewriteEngine On

  # Exclude API requests from React routing
  RewriteCond %{REQUEST_URI} ^/api
  RewriteRule ^ - [L]

  # React SPA fallback
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

