header {
    background-color: ghostwhite;
    color: #333;
    text-align: left;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
header>h1 {
    background-color: unset;
    margin: 0;
}